.score-container{
    margin-top: 3%;
    background-color: rgb(247, 190, 190);
}

/* Boton de Comenzar Juego */
.boton {
     color: #fff;
     margin-top: 1.5%;
     font-weight: bold;
     padding: 12px 20px;
     font-size: 18px;
     border-radius: 10px;
     position: relative;
     display: inline-block;
     text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
     background-color: #c34747;
     box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
    }
    .boton:hover {
        box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
    }
    .boton:active {
     top: 7px;
     box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
    }